[submodule "source/ignore_files_based_on_metadata/lib/ffmpeg"]
	path = source/ignore_files_based_on_metadata/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg.git
[submodule "source/encoder_audio_libfdk_aac/lib/ffmpeg"]
	path = source/encoder_audio_libfdk_aac/lib/ffmpeg
	url = https://github.com/Josh5/unmanic.plugin.helpers.ffmpeg.git
[submodule "source/remove_data_streams/lib/ffmpeg"]
	path = source/remove_data_streams/lib/ffmpeg
	url = https://github.com/yajrendrag/unmanic.plugin.helpers.ffmpeg.git
[submodule "source/strip_image_streams2/lib/ffmpeg"]
	path = source/strip_image_streams2/lib/ffmpeg
	url = https://github.com/yajrendrag/unmanic.plugin.helpers.ffmpeg.git
[submodule "source/keep_stream_by_language/lib/ffmpeg"]
	path = source/keep_stream_by_language/lib/ffmpeg
	url = https://github.com/yajrendrag/unmanic.plugin.helpers.ffmpeg.git
[submodule "source/video_transcoder2/lib/ffmpeg"]
	path = source/video_transcoder2/lib/ffmpeg
	url = https://github.com/yajrendrag/unmanic.plugin.helpers.ffmpeg.git
[submodule "source/reorder_audio_streams_by_language2/lib/ffmpeg"]
	path = source/reorder_audio_streams_by_language2/lib/ffmpeg
	url = https://github.com/yajrendrag/unmanic.plugin.helpers.ffmpeg.git
